* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* navbar */
.menubar {
  height: 50px;
  background-color: #e78b48;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar .col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  gap: 35px;
}

.menubar img {
  width: 50px;
  height: 20px;
}

.menubar .big-logo {
  background-color: transparent;
}

.menubar a {
  color: #102e50;
  background-color: #e78b48;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.menubar a:hover {
  background-color: #efeeea;
  color: #102e50;
  padding: 14px;
}

/* About */
#about {
  background-color: #102E50;
  padding-top: 58px;
  padding-bottom: 58px;
}

#about img {
  padding-bottom: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-self: anchor-center;
  max-width: 500px;
}

#about p {
  text-align: justify;
  color: #EFEEEA;
  font-size: 15px;
}

/* company */
#company {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #102E50;
}

#company a {
  margin-bottom: 0;
  font-size: 12px;
  text-decoration: none;
  color: #102E50;
}

#company .item-menu {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.social {
  width: 20px;
  height: auto;
}

/* footer */
footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  background-color: #e0e7ff;
  font-size: 12px;
  margin-bottom: 0;
}


@media only screen and (max-width:460px) {
  header .col img {
    max-width: 240px;
  }

  .menubar img {
    max-width: 40px;
    height: auto;
  }

  .menubar a {
    font-size: 13px;
  }

  .menubar .col {
    gap: 20px;
  }

  #about img {
    max-width: 250px;
  }

  #about p {
    font-size: 13px;
  }

  #company .row {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

}