* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* navbar */
.menubar {
  height: 50px;
  background-color: #e78b48;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar .col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  gap: 35px;
}

.menubar img {
  width: 50px;
  height: 20px;
}

.menubar a {
  color: #efeeea;
  background-color: #e78b48;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.menubar a:hover {
  background-color: #102e50;
  color: #efeeea;
  padding: 14px;
}

/* header */
header {
  background-color: #efeeea;
  color: #102e50;
  padding: 60px 20px;
  text-align: center;
}

header .row {
  gap: 50px;
  display: flex;
  align-items: center;
}

header .col img {
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

header .col h1 {
  font-weight: 900;
  text-align: end;
}

header .col.purpose {
  display: flow;
  justify-items: end;
}

header .col p {
  font-size: 14px;
  margin-top: 10px;
  font-weight: lighter;
  text-align: justify;
  text-align-last: right;
}

header .btn {
  background-color: #f5c45e;
  color: #102E50;
  padding: 5px 15px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  transition: background 0.3s;
  font-size: 12px;
}

header .btn:hover {
  background-color: #e78b48;
}

/* Benefit */
#benefit {
  background-color: #102E50;
}

#benefit .row {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: anchor-center;
}

#benefit h2 {
  text-align: center;
  padding-top: 20px;
  color: #EFEEEA;
}

#benefit .col p {
  color: #EFEEEA;
  font-size: 12px;
  font-weight: lighter;
  text-align: justify;
}

#benefit .col h6 {
  font-weight: bolder;
  color: #EFEEEA;
}

#benefit .icon {
  display: flex;
  align-items: anchor-center;
  gap: 20px;
}

#benefit .icon img {
  width: 45px;
  height: auto;
}

/* testimonials */
#testimonials {
  background-color: #efeeea;
  padding-bottom: 25px;
  padding-top: 20px;
}

#testimonials h2 {
  text-align: center;
}

#testimonials .col {
  background-color: #F5C45E;
  border-radius: 30px;
}

#testimonials .col .student .name p,
#testimonials .row .col p {
  font-weight: lighter;
  font-size: 12px;
  text-align: justify;
}

#testimonials .row {
  gap: 25px;
}

#testimonials .row p {
  text-align: center;
}

#testimonials .student img {
  border-radius: 115px;
  width: 50px;
  height: auto;
}

#testimonials .student {
  display: flex;
  gap: 20px;
  align-items: anchor-center;
}

#testimonials .student .name {
  padding-top: 15px;
}

#testimonials .student h5,
#testimonials .student h6 {
  margin-bottom: 2px;
}

#testimonials h5 {
  font-size: 15px;
  font-weight: bolder;
}

#testimonials h6 {
  font-size: 12px;
}

#testimonials .arrow {
  display: flex;
  width: 30px;
  height: 30px;
  gap: 12px;
  justify-content: center;
  justify-self: center;
  align-items: baseline;
}

/* Join */
#join {

  margin: 0 auto;
  background-color: #102E50;
  ;
}

#join h2 {
  text-align: center;
  padding-top: 20px;
  color: #EFEEEA;
}

#join .form {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.form-container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #f5c45e;
  color: #102E50;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-self: anchor-center;
}

form button:hover {
  background-color: #e78b48;
}

.form-select {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* company */
#company {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #102E50;
}

#company a {
  margin-bottom: 0;
  font-size: 12px;
  text-decoration: none;
  color: #102E50;
}

#company .item-menu {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.social {
  width: 20px;
  height: auto;
}

/* footer */
footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  background-color: #e0e7ff;
  font-size: 12px;
  margin-bottom: 0;
}

@media only screen and (max-width:820px) {
  #benefit .row {
    flex-direction: column-reverse;
  }

  #benefit .row .child {
    text-align: center;
  }

  #benefit .row .child img {
    max-width: 400px;
    height: auto;
  }

  #join .form .form-container {
    max-width: 500px;
    height: auto;
  }
}

@media only screen and (max-width:460px) {
  header .col img {
    max-width: 240px;
  }

  .menubar img {
    max-width: 40px;
    height: auto;
  }

  .menubar a {
    font-size: 13px;
  }

  .menubar .col {
    gap: 20px;
}

  #benefit .row .child img {
    max-width: 212px;
    height: auto;
  }

  #testimonials .row {
    display: flex;
    flex-direction: column;
  }

  #company .row {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  #testimonials {
    padding-left: 20px;
    padding-right: 20px;
  }
}