* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* navbar */
.menubar {
  height: 50px;
  background-color: #e78b48;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar .col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  gap: 35px;
}

.menubar img {
  width: 50px;
  height: 20px;
}

.menubar .big-logo {
  background-color: transparent;
}

.menubar a {
  color: #102e50;
  background-color: #e78b48;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.menubar a:hover {
  background-color: #efeeea;
  color: #102e50;
  padding: 14px;
}

/* Teacher */
#teacher{
    background-color: #102E50;
    padding-top: 25px;
    padding-bottom: 25px;
}

#teacher .row {
  padding-top: 20px;
  padding-bottom: 20px;
      gap: 25px;
}

#teacher h2 {
  text-align: center;
    color: #EFEEEA;
}

#teacher .col h6 {
    font-weight: bolder;
    text-align: center;
    color: #102E50;
        padding-top: 12px;
}

#teacher .col  {
    background-color: #F5C45E;
        border-radius: 30px;
}

#teacher .col ul {
  color: #102E50;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}

#teacher .container .notes, #teacher .container p {
    color: #EFEEEA;
}

#teacher .container .notes {
    padding-top: 12px;
}

#teacher .container .notes h6{
        font-weight: bolder;
}

#teacher .container .notes ul, #teacher .container p{
        font-weight: lighter;
        font-size: 14px;
}

#teacher .container a {
    color: #F5C45E;
}

/* company */
#company {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #102E50;
}

#company a {
  margin-bottom: 0;
  font-size: 12px;
  text-decoration: none;
  color: #102E50;
}

#company .item-menu {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.social {
  width: 20px;
  height: auto;
}

/* footer */
footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  background-color: #e0e7ff;
  font-size: 12px;
  margin-bottom: 0;
}

@media only screen and (max-width:460px) {
  header .col img {
    max-width: 240px;
  }

  .menubar img {
    max-width: 40px;
    height: auto;
  }

  .menubar a {
    font-size: 13px;
  }

  .menubar .col {
    gap: 20px;
}

#teacher h2 {
    font-size: 15px;
}

#teacher .row {
    flex-direction: column;
    padding: 0 20px;
}

#teacher .container p {
    font-size: 12px;
    padding-top: 20px;
}

#teacher .container .notes h6 {
    font-size: 13px;
}

#teacher .container .notes ul {
  font-size: 12px;
}

  #company .row {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

}